# platform dependent python byte code files.
*.pyc

# temporary vi files.
*.sw*

#nonsense
*.DS_Store
*ignore*
*~

# eclipse stuff
.project
.pydevproject
.settings/

build/
dist/
oligotyping.egg-info/
