<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="style.css" />
    <title>%(project)s</title>
</head>

<body >
<div id="wrapper">
<div id="content">
        

<div class="head">Oligotyping Results for "%(project)s"</div>
<div class="title">Hi there</div>
<div class="links-bar"><a href="http://oligotyping.org">Oligotyping.org</a></div>

%(info_section)s

</div>
</div>
</body>
</html>


