<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="style.css" />
    <title>{{ project }}</title>

    <script type="text/javascript" src="jquery-1.7.1.js"></script>
    <script type="text/javascript" src="popup.js"></script>
</head>

<body >
<div id="wrapper">
<div id="content">

<div class="head">Oligotyping Results for "{{ project }}"</div>
<div class="title">This page shows some preliminary results of your analysis</div>
<div class="links-bar"><a href="http://oligotyping.org">Oligotyping.org</a></div>


<div class="smallhead">General</div>
<p class="smallheadtitle">» General information about the run
<div class="info_table">
<table>
    {% if number_of_auto_components %}
    <tr><td id="l">{{pretty_names.number_of_auto_components}}</td><td id="r">{{number_of_auto_components}}</td></tr>
    {% else %}
    <tr><td id="l">{{pretty_names.number_of_selected_components}}</td><td id="r">{{number_of_selected_components}}</td></tr>
    {% endif %}

    <tr><td id="l">{{pretty_names.s}}</td><td id="r"> {{s}}</td></tr>
    <tr><td id="l">{{pretty_names.a}}</td><td id="r"> {{a}}%</td></tr>
    <tr><td colspan=2>&nbsp;</td></tr>
    <tr><td id="l">{{pretty_names.bases_of_interest_locs}}</td><td id="r"> {{bases_of_interest_locs}}</td></tr>
    <tr><td colspan=2>&nbsp;</td></tr>
    <tr><td id="l">{{pretty_names.num_unique_oligos}}</td><td id="r"> {{num_unique_oligos}}</td></tr>
    <tr><td id="l">{{pretty_names.num_oligos_after_s_elim}}</td><td id="r"> {{num_oligos_after_s_elim}}</td></tr>
    <tr><td id="l">{{pretty_names.num_oligos_after_a_elim}}</td><td id="r"> {{num_oligos_after_a_elim}}</td></tr>
    <tr><td colspan=2>&nbsp;</td></tr>
    <tr><td id="l">{{pretty_names.total_seq}}</td><td id="r"> {{total_seq}}</td></tr>
    <tr><td id="l">{{pretty_names.num_sequences_after_qc}}</td><td id="r"> {{num_sequences_after_qc}}</td></tr>
    <tr><td id="l">{{pretty_names.num_datasets_in_fasta}}</td><td id="r"> {{num_datasets_in_fasta}}</td></tr>
    <tr><td id="l">{{pretty_names.datasets_removed_after_qc}}</td><td id="r"> {{datasets_removed_after_qc|length}} {% if datasets_removed_after_qc|length > 0 %} ({{datasets_removed_after_qc|join:", "}}){% endif %}</td></tr>
</table>
</div>

<div class="smallhead">Download</div>
<p class="smallheadtitle">» Files to analyze results further via third partry applications
<div class="info_table">
<table>
    <tr><td id="l">{{pretty_names.matrix_count_file_path}}</td><td id="r"><a href="{{matrix_count_file_path}}">matrix_counts.txt</a></td></tr>
    <tr><td id="l">{{pretty_names.matrix_percent_file_path}}</td><td id="r"><a href="{{matrix_percent_file_path}}">matrix_percents.txt</a></td></tr>
    <tr><td id="l">{{pretty_names.environment_file_path}}</td><td id="r"><a href="{{environment_file_path}}">environment.txt</a></td></tr>
    <tr><td id="l">{{pretty_names.oligos_fasta_file_path}}</td><td id="r"><a href="{{oligos_fasta_file_path}}">oligos.fa.txt</a></td></tr>
    <tr><td id="l">{{pretty_names.oligos_nexus_file_path}}</td><td id="r"><a href="{{oligos_nexus_file_path}}">oligos.nex.txt</a></td></tr>
</table>
</div>



<div class="smallhead">Entropy</div>
<p class="smallheadtitle">» Entropy values that components were picked from
<p align="center"><a href="{{ entropy_figure }}"><img src="{{ entropy_figure }}" style="width:1200px" border="0"></a>

<div class="smallhead">Stackbar</div>
<p class="smallheadtitle">» Oligotype Profiles Among Datasets
<p align="center"><a href="{{ stackbar_figure }}"><img src="{{ stackbar_figure }}" style="width:1200px" border="0"></a>

<div class="smallhead">Oligotypes</div>
<p class="smallheadtitle">» Abundant oligotypes after quality control..

<div class="wrap">
    <div id='sequences' style="height: auto;"> 
        <div style="width: {{alignment_length|multiply:8}}px; position: relative;">
            {% for oligo in oligos %}
                <p><span style="background-color:{{color_dict|lookup:oligo}}">&nbsp;&nbsp;</span> <span style="border-bottom:1px solid {{ color_dict|lookup:oligo }}"> <strong><a onmouseover="popup('<img src=&quot;{{rep_oligo_diversity_dict|lookup:oligo}}&quot; width=&quot;790&quot;>', 800)" href="#">{{oligo}}</a></strong> {{ rep_oligo_seqs_dict|lookup:oligo|safe }}</span>
            {% endfor %}
        </div>
    </div>
</div>


</div>
</div>
</body>
</html>


