<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="style.css" />
    <title>{{ project }}</title>
</head>

<body >
<div id="wrapper">
<div id="content">
        

<div class="head">Oligotyping Results for "{{ project }}"</div>
<div class="title">Hi there</div>
<div class="links-bar"><a href="http://oligotyping.org">Oligotyping.org</a></div>


<div class="smallhead">Entropy</div>
<p class="smallheadtitle">» Entropy values that components were picked from
<p align="center"><a href="{{ entropy_figure }}"><img src="{{ entropy_figure }}" style="width:1200px" border="0"></a>

<div class="smallhead">Stackbar</div>
<p class="smallheadtitle">» Oligotype Profiles Among Datasets
<p align="center"><a href="{{ stackbar_figure }}"><img src="{{ stackbar_figure }}" style="width:1200px" border="0"></a>

</div>
</div>
</body>
</html>


