<div class="smallhead">Entropy</div>
<p class="smallheadtitle">» Entropy values that components were picked from
<p align="center"><a href="%(entropy_figure)s"><img src="%(entropy_figure)s" style="width:1200px" border="0"></a>

<div class="smallhead">Stackbar</div>
<p class="smallheadtitle">» Oligotype Profiles Among Datasets
<p align="center"><a href="%(stackbar_figure)s"><img src="%(stackbar_figure)s" style="width:1200px" border="0"></a>
