{% for sample in samples %}
{% if forloop.first %}
    <script>
        window.onload = function () {  

{% endif %}

{% if forloop.counter0|mod:3 == 0 %}
                var paper = new Raphael(document.getElementById("p_container_{{forloop.counter0}}"), 1600, 320);
{% endif %}
                paper.text({% if forloop.counter0|mod:3 == 0 %}250{% endif %}{% if forloop.counter0|mod:3 == 1 %}675{% endif %}{% if forloop.counter0|mod:3 == 2 %}1100{% endif %}, 20, "{{ sample }}").attr({ font: "15px sans-serif", "font-weight": "bold" });
                paper.text({% if forloop.counter0|mod:3 == 0 %}250{% endif %}{% if forloop.counter0|mod:3 == 1 %}675{% endif %}{% if forloop.counter0|mod:3 == 2 %}1100{% endif %}, 260, "{{ samples_dict|lookup:sample|sumvals }}").attr({ font: "15px sans-serif" });
                {{sample|var}}_pie = paper.piechart({% if forloop.counter0|mod:3 == 0 %}250{% endif %}{% if forloop.counter0|mod:3 == 1 %}675{% endif %}{% if forloop.counter0|mod:3 == 2 %}1100{% endif %}, 140, 100,
                                    [{% for oligo in samples_dict|lookup:sample|sorted_by_value %}{{samples_dict|lookup:sample|lookup:oligo}}{% if not forloop.last %}, {%endif%}{% endfor %}],
                                    { legend: [{% for oligo in samples_dict|lookup:sample|sorted_by_value %}"{{oligo}}"{% if not forloop.last %}, {%endif%}{% endfor %}],
                                      colors: [{% for oligo in samples_dict|lookup:sample|sorted_by_value %}"{{color_dict|lookup:oligo}}"{% if not forloop.last %}, {%endif%}{% endfor %}],
                                      legendpos: "east", 
                                      href: [{% for oligo in samples_dict|lookup:sample|sorted_by_value %}"oligo_{{oligo}}.html"{% if not forloop.last %}, {%endif%}{% endfor %}]});
                {{sample|var}}_pie.hover(function () {
                    this.sector.stop();
                    this.sector.scale(1.1, 1.1, this.cx, this.cy);

                    if (this.label) {
                        this.label[0].stop();
                        this.label[0].attr({ {{ sample|var }}: 7.5 });
                        this.label[1].attr({ "font-weight": 800 });
                    }
                }, function () {
                    this.sector.animate({ transform: 's1 1 ' + this.cx + ' ' + this.cy }, 500, "bounce");

                    if (this.label) {
                        this.label[0].animate({ {{ sample|var }}: 5 }, 500, "bounce");
                        this.label[1].attr({ "font-weight": 400 });
                    }
                });
{% if forloop.last %}
        };
    </script>
{% endif %}
{% endfor %}

