<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="style.css" />
    <title>{{ project }} :: {{ oligo }}</title>

    <script type="text/javascript" src="jquery-1.7.1.js"></script>
    <script type="text/javascript" src="popup.js"></script>
    <script type="text/javascript" src="raphael.js"></script>
    <script type="text/javascript" src="morris.js"></script>
    <script>
        window.onload = function () {

            var samples_line = [
                {% for sample in samples %}
                {"abundance": "{{ sample }}", "count": "{{samples_dict|lookup:sample|sumvals:"clean"}}"},
                {% endfor %}
            ];
            Morris.Line({
              element: 'samples_line',
              data: samples_line,
              xkey: 'abundance',
              ykeys: ['count'],
              labels: [{% for sample in samples %}'Total Count',{% endfor %}],
              parseTime: false,
            });


            var counts = [
                {% for sample in samples %}
                    {% if distribution|lookup:sample|length == 0 %}
                        {"abundance": "{{ sample }}", {% for i in distribution|values|get_list_item:0|length|mklist %}"{{i}}": 0{%if not forloop.last %}, {% endif %}{%endfor%}},
                    {% else %}
                        {"abundance": "{{ sample }}", {% for i in distribution|lookup:sample|length|mklist %}"{{i}}": {{distribution|lookup:sample|get_list_item:i}}{%if not forloop.last %}, {% endif %}{%endfor%}},
                    {% endif %}
                {% endfor %}
            ];
            Morris.Line({
              element: 'counts',
              data: counts,
              xkey: 'abundance',
              ykeys: [{% for i in distribution|values|get_list_item:0|length|mklist %}'{{i}}'{%if not forloop.last %}, {% endif %}{%endfor%}],
              labels: [{% for i in distribution|values|get_list_item:0|length|mklist %}'#{{i|add:"1"}}'{%if not forloop.last %},{% endif %}{%endfor%}],
              lineColors: [{% for color in distribution|values|get_list_item:0|length|get_colors %}'{{color}}'{%if not forloop.last %},{% endif %}{%endfor%}],
              parseTime: false,
            });

            var percents = [
                {% for sample in samples %}
                    {% if distribution|lookup:sample|length == 0 %}
                        {"abundance": "{{ sample }}", {% for i in distribution|values|get_list_item:0|length|mklist %}"{{i}}": 0{%if not forloop.last %}, {% endif %}{%endfor%}},
                    {% else %}
                        {"abundance": "{{ sample }}", {% for i in distribution|lookup:sample|length|mklist %}"{{i}}": {{distribution|lookup:sample|percentify|get_list_item:i|presicion:1}}{%if not forloop.last %}, {% endif %}{%endfor%}},
                    {% endif %}
                {% endfor %}
            ];
            Morris.Line({
              element: 'percents',
              data: percents,
              xkey: 'abundance',
              ykeys: [{% for i in distribution|values|get_list_item:0|length|mklist %}'{{i}}'{%if not forloop.last %}, {% endif %}{%endfor%}],
              labels: [{% for i in distribution|values|get_list_item:0|length|mklist %}'#{{i|add:"1"}}'{%if not forloop.last %},{% endif %}{%endfor%}],
              lineColors: [{% for color in distribution|values|get_list_item:0|length|get_colors %}'{{color}}'{%if not forloop.last %},{% endif %}{%endfor%}],
              parseTime: false,
            });
        };
    </script>
</head>

<body >
<div id="wrapper">
<div id="content">

<div class="head">Oligotype {{ oligo }} in "{{ project }}"</div>
<div class="title">Page that explains diversity within an oligotype.</div>
<div class="links-bar"><a href="./index.html">Main Analysis Page</a> | <a href="https://meren.github.io/projects/oligotyping/">Oligotyping Project Page</a></div>

<div class="score" align="center" style="margin-left: 140px;"><br /> <p style="font-size:2.5em;"><span style="color:{{ score_color_dict|lookup:oligo }};">{{ purity_score|lookup:oligo|floatformat:"2" }}</span> <img src="colorbar.png" border="0" width="80%" height="80%"/></p></div>

<div class="smallhead">Unique Sequences Curve</div>
<p class="smallheadtitle">» Abundance curve of unique sequences within {{ oligo }}, along with entropy values associated with these new set of alignments.
<p class="content"><a href="{{ oligo_reps_dict.imgs|lookup:oligo }}"><img src="{{ oligo_reps_dict.imgs|lookup:oligo }}" style="width:1200px" border="0"></a>


<div class="smallhead">Distribution Among Samples</div>
<p class="smallheadtitle">» Graphs below aim to give an idea about the distribution of unique sequences within {{ oligo }} among all samples.
<p class="content">This graph is here to remind the total number of reads for each sample that underwent the oligotyping analysis:
<div id="samples_line"></div>
<p class="content">This graph shows the actual counts and distribution of unique sequences concealed within {{ oligo }}. By hovering over dots on the graph you can see the distribution of the first 20 sequences. If there are cases where the number of unique read #1 is competing with the number of other unique reads, it would mean that there is too much diversity trapped in this oligotype and needs to be decomposed by increasing the number of components. Sequences section below might help you decide which components might be appropriate to include.
<div id="counts"></div>
<p class="content">This graph is similar to the one above, but normalized per sample by percent. Again, this should give you an idea about the concealed diversity.
<div id="percents"></div>


<div class="smallhead">Sequences</div>
<p class="smallheadtitle">» First 20 Unique sequences
    <div class="wrap">
        <div id='sequences' style="height: auto;"> 
            <div style="width: {% if alignment_length|multiply:10 > 1200 %}{{alignment_length|multiply:10}}{% else %}1200{%endif%}px; position: relative;">
                     <p><span class="frequency">&nbsp;</span><span style="background-color:{{white}}; border: 1px solid white;">&nbsp;&nbsp;</span> <span style="color: white;"> b <strong>{{oligos.0}}</strong> {{ oligo_reps_dict.component_references|lookup:oligo|safe }} </span>
                {% for i in oligo_reps_dict.fancy_seqs|lookup:oligo|length|mklist %}
                    <p><span class="frequency">{{ oligo_reps_dict.frequency|lookup:oligo|get_list_item:i }}</span><span style="background-color:{{color_dict|lookup:oligo}}; border: 1px solid black;">&nbsp;&nbsp;</span> <span style="border-bottom:1px solid {{ color_dict|lookup:oligo }}"> <strong><span onmouseover="popup('<p>#{{i|add:"1"}}{% if i > 0 %}<p>Differences from #1:<p><i>{{ oligo_reps_dict.clear_seqs|lookup:oligo|diffs:i }}</i>{% endif %}', 180)">{{oligo}}</span></strong> <em><a title="BLAST search this sequence in NCBI" href="http://blast.ncbi.nlm.nih.gov/Blast.cgi?PROGRAM=blastn&BLAST_PROGRAMS=megaBlast&PAGE_TYPE=BlastSearch&SHOW_DEFAULTS=on&LINK_LOC=blasthome&DATABASE=nr&QUERY=>{{ oligo }}_{{i}}%0d{{ oligo_reps_dict.clear_seqs|lookup:oligo|get_list_item:i|cleangaps }}">b</a></em> {{ oligo_reps_dict.fancy_seqs|lookup:oligo|get_list_item:i|safe }}</span>
                {% endfor %}
            </div>
        </div>
    </div>

<div class="smallhead">BLAST Hits</div>
<p class="smallheadtitle">» Alignments obtained for the most frequent sequence of {{ oligo }} are shown below.
<div class="wrap">
{% if oligo_reps_dict.blast_results|lookup:oligo %}
        <div id='sequences' style="height: 900px;"> 
            <div style="width: {{alignment_length|multiply:9}}px; position: relative;">
                {% for entry in oligo_reps_dict.blast_results|lookup:oligo %}
                    <p><strong>{{ entry.hit_def }}</strong>
                    {% if not blast_ref_db and not blast_ref_db_path %}
                    <br />Accession: <a href="{{ entry.ncbi_link }}">
                            {{ entry.accession }}</a></em>
                    {% endif %}
                    <br />Identity : {{ entry.identity|floatformat:1 }}%</em>
                    <br />Coverage : {{ entry.coverage|floatformat:1 }}%</em>
                    <p>&nbsp;
                    <br /><em>QUERY: </em>{{ entry.hsp_query }}</em>
                    <br /><em>MATCH: </em>{{ entry.hsp_match }}</em>
                    <br /><em>SUBJE: </em>{{ entry.hsp_subject }}</em>
                    <p>&nbsp;
                    <p>&nbsp;
                {% endfor %}
            </div>
        </div>
{% else %}
    <p><em>BLAST results are missing.</em>
{% endif %}
</div>

</div>
</div>
<div class="floatingbar_for_oligos">◀  {% if prev %}<a href="{{prev}}">Previous Oligotype</a>{% else %}Previous Oligotype{% endif %} :: <a href="index.html">Main Page</a> :: {% if next %}<a href="{{next}}">Next Oligotype</a>{% else %}Next Oligotype{% endif %} ▶  <i>({{ index }} of {{ total }})</i></div>
<div class="footer"><p>For questions and comments: meren / mbl.edu</div>
</body>
</html>


